<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-field/core-field.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">

<polymer-element name="search-field" attributes="value committedvalue maxWidth">

  <template>
  <style type="text/css">
  #search-field{
      background-color: #FAFAFA;
      
      padding: 10px 30px 10px 10px;
      margin: 0 0 20px;
      position: relative;
  }
  
  paper-input-decorator{
    font-size: 1.4em;
  }
  paper-input-decorator /deep/ .focused-underline {
    background-color: orange;
  }

  paper-input-decorator /deep/ .unfocused-underline {
    background-color: #CCC;
  }

</style>
   
   <div horizontal layout center-justified>
    <paper-shadow z="1" id="search-field" style="max-width : {{ maxWidth ? maxWidth+'px' : 'auto' }}" animated="true" flex>
      <core-field flex>
        <core-icon icon="search"></core-icon>

        <paper-input-decorator flex label="Search for a music (or paste a link to YouTube, Spotify, Shazam, Rdio, SoundHound or GrooveShark)">
            <input id="input" is="core-input" value="{{value}}" committedvalue="{{committedvalue}}">
        </paper-input-decorator>

        <paper-icon-button style="color:orange" on-click="{{clearInput}}" hidden?="{{!value.length}}" icon="clear" title="clear"></paper-icon-button>
      </core-field>  
    </paper-shadow>
    </div>

</template>
<script>
    Polymer({
          value:'',
          committedvalue:'',
          clearInput:function(){
            this.value='';
            this.committedvalue='';
            this.$.input.value=' ';
            this.$.input.commit();
            this.$.input.value=''
            this.$.input.focus();
          }
      });
</script>
</polymer-element>