<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/core-selector/core-selector.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/core-image/core-image.html">
<link rel="import" href="../bower_components/google-youtube/google-youtube.html">

<link rel="import" href="search-field.html">
<link rel="import" href="youtube-view.html">
<link rel="import" href="youtube-player.html">

<polymer-element name="search-youtube" attributes="host">

  <template>
  <style type="text/css">

    youtube-view{
      margin:5px 10px 10px;
      max-width: 100%;
    }

    .no-results{
      color: #1C1C1C;
      font-size: 1.5em;
      opacity: 0.15;
      width: 100%;
    }

    .no-results *{
      margin: 10px;
    }

    paper-spinner::shadow .circle {
    border-color: #FFF;
  }

  search-field{
    margin-top: 20px;
  }

  #videoSelection{
    position: fixed;
     z-index: 1000;
      top: initial;
      bottom: 0;
      left: 20px;
      right: 20px;
  }

  /* reserve space for video selection */
  core-selector{
    margin-bottom: 60px;
  }

  </style>

    <!-- Search field, request and spinner -->
    <search-field maxWidth="1000" committedvalue="{{searchTerm}}"></search-field>
    
    <core-ajax
    id="ajax"
    url="{{host}}/query/"
    params='{"q":"{{searchTerm}}"}'
    handleAs="json"
    loading="{{searching}}"
    response="{{queryResponse}}"></core-ajax>

    <div horizontal layout center-justified>
      <paper-spinner active="{{searching}}"></paper-spinner>
    </div>
    
    <!-- List response elements and bind selectedVideo -->
    <template if="{{queryResponse && queryResponse.length}}">
      <core-selector flex selectedProperty="focused" valueattr="videoId" selected="{{selectedVideo}}" horizontal layout center-justified wrap>
        <template repeat="{{response in queryResponse}}">
          <youtube-view host="{{host}}" videoId="{{response}}" w="{{vW}}" h="{{vH}}"></youtube-view>  
        </template>  
      </core-selector>
    </template>

    <!-- If no response retrieved, show no response message -->
    <template if="{{!searching && (!queryResponse || !queryResponse.length)}}">
      <template if="{{ searchTerm | isFilled }}">
        <div class="no-results" vertical relative layout center-justified>
        <core-image self-center src="/static/img/noresults_hd.png"  width="180px" height="180px" sizing="contain"></core-image>
        <span self-center>No results found</span>
        </div>
      </template>
    </template>

    <!-- Handle video selection -->
    <div id="videoSelection">
    <template if="{{selectedVideo && queryResponse && queryResponse.length }}">
    <youtube-player host="{{host}}" video="{{selectedVideo}}" state="{{videoState}}"></youtube-player>
    </template>
    </div>
</template>

  <script>

    Polymer({
      host:null,
      videoId:null,
      loading:false,
      vW:480,
      vH:360,
      searchTerm:'',
      selectedVideo:null,
      ready: function() {
        // console.log("here1");
      },
      isFilled: function(value) {
        return value && value.trim();
      },
      searchTermChanged: function(prev,searchTerm){
        if(!searchTerm || !searchTerm.trim()){
          this.queryResponse=[];
        }else{
          this.$.ajax.go();
        }
      },
      queryResponseChanged: function(prev,resp){
        if(resp && resp.length && (!this.searchTerm || !this.searchTerm.trim())){
          //cancel display of query responses when a "clear" has been made
          this.queryResponse=[];
        }
        var baseVW=480, factorW=1;
        var baseVH=360, factorH=1;

        if(resp && resp.length){
          factorW+=Math.min(resp.length/5,1.3);
          factorH+=Math.min(resp.length/4,0.8);
        }

        this.vH=baseVH/factorH;
        this.vW=baseVW/factorW;
      }
    });
  </script>
</polymer-element>