<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/av-icons.html">

<polymer-element name="youtube-player" attributes="host video autoplay state">

  <template>
  <style type="text/css">
  #youtube{
      display:none;
  }

  /* button controls */
  paper-icon-button{
    color: white;
  }

  /* loaded progress bar */
  paper-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: white;
  }

  /* background progress bar */
  paper-slider::shadow #sliderBar::shadow #progressContainer {
    background-color: #999;
  }
  
  /* knob collor */
  paper-slider::shadow #sliderKnobInner {
    background-color: white;
  }

  /* secondary (buffering) color */
  paper-slider::shadow #sliderBar::shadow #secondaryProgress {
    background-color: #FFE0B2;
  }

  #container{
    background-color:#FFD180;
    border-radius: 4px 4px 0 0;
    padding: 7px 0 5px;
  }

  paper-slider{
    margin-top: 3px;
  }

</style>
   <div id="container" horizontal layout center-justified>
      <paper-icon-button icon="av:{{state==1? 'pause': state==0?'replay':'play-arrow'}}" on-click="{{playPause}}"></paper-icon-button>
      <paper-icon-button icon="av:stop" on-click="{{stop}}"></paper-icon-button>
      <paper-slider min="0" max="{{duration}}" value="{{currenttime}}" secondaryProgress="{{fractionloaded * duration}}" on-change="{{onSlide}}" immediateValue="{{slideValue}}"></paper-slider>
      <paper-icon-button icon="cloud-download" on-click="{{doProcess}}"></paper-icon-button>
      <!-- hidden -->
      <google-youtube id="youtube"  videoid="{{video}}" state="{{state}}" autoplay="{{autoplay}}" fractionloaded="{{fractionloaded}}" playsupported="{{playSupported}}" duration="{{duration}}" currenttime="{{currenttime}}" chromeless></google-youtube>
   </div>


    <core-ajax id="process" url="{{host}}/process/{{video}}" response="{{processed}}" handleAs="json"></core-ajax>
   
    
</template>
<script>

  /**
  Possible youtube states (see https://developers.google.com/youtube/iframe_api_reference#onStateChange ):
  -1 (unstarted)
  0 (ended)
  1 (playing)
  2 (paused)
  3 (buffering)
  5 (video cued)
  **/

    Polymer({
        autoplay:0,
        video:null,
        state:undefined,
        processed:null,
        videoChanged: function(){
          this.$.youtube.seekTo(0);
          this.currenttime=0;
          this.fractionloaded=0;
          this.stop();
          this.state=-1;
        },
        stateChanged: function(prev,curr) {
        
        if(!this.playSupported || !this.video){
          return;
        }
        // if changed video selection (simulate autoplay)
        if(this.autoplay && prev !== undefined && (curr==-1 || curr==5)){
          this.$.youtube.play();
        }
      },
      onSlide : function(p,c){
        this.$.youtube.seekTo(this.slideValue);
      },
      playPause: function(){
        if(this.state==1){
          this.$.youtube.pause();
        }else{
          this.$.youtube.play();
        }
      },
      stop:function(){
        this.$.youtube.pause();
        this.$.youtube.seekTo(0);
      },
      doProcess: function(){
        if(this.video){
          this.$.process.go();
        }
      },
      processedChanged: function(prev,resp) {
        if (resp && resp.length) {

          if(resp[0].status == 'ready' && resp[0].downloadUrl){
          
            window.open(resp[0].downloadUrl,'_self');
          } else{
            console.log("not downloading (possible download still in progress):");
            console.log(resp[0]);
          }
        }else{
          console.log("ERROR");
        }
      }


          
      });
</script>
</polymer-element>