<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<polymer-element name="youtube-view" attributes="host videoId w h focused" noscript>

  <template>
  <style type="text/css">
  .title{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    z-index: 5;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 34%, rgba(0,0,0,0.3) 99%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(34%,rgba(0,0,0,0.1)), color-stop(99%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 34%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 34%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 34%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 34%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */

  }
  paper-ripple {
    color: white;
    z-index: 10;
  }

  .focus-area{
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 2;
  }

  .focused{
    border: 3px solid white;
    padding: -3px;
    background-color: rgba(255,255,255,0.1);
  }

  
</style>
    <template if="{{videoId}}">
      <core-ajax url="{{host}}/metadata/{{videoId}}" auto response="{{resp}}" handleAs="json"></core-ajax>
    
    <!-- should only have one entry; but support additional ones just in case -->
      <template repeat="{{entry in resp}}">
        
        <div style="background-image: url('{{entry.thumbnails[entry.thumbnails.length-1].url}}'); background-position: center; background-color:gray; width:{{w}}px; height:{{h}}px; position:relative" vertical layout>
        <paper-ripple fit></paper-ripple> 
          <span class="title" style="font-size:{{w/20 > 12 ? w/20 : 12}}px">{{entry.title}}</span>  
          <div class="focus-area {{ {focused:focused} | tokenList }}" fit></div>
        </div>

      </template>
    
    </template>
    <template if="{{!(videoId)}}">
      No video to display
    </template>
</template>
</polymer-element>